@model IEnumerable<MVC5Course.Models.ViewModel.ProductLiteVM>

@{
    ViewBag.Title = "ListProducts";
}
@*@if (TempData["msg"] !=null)
{
    <h2>@TempData["msg"]</h2>
}

<h2>ListProducts</h2>*@


@if (TempData["CreateProduct_Result"] != null)
{
    <h1>@TempData["CreateProduct_Result"]</h1>
}

<h2>ListProducts</h2>

<form method="get">
    篩選:
    @Html.TextBox("ProductName")
    庫存數量：
    @Html.TextBox("Stock_b")~
    @Html.TextBox("Stock_e")
    <button>搜尋</button>
    @Html.ValidationMessage("Stock_b", new { @class = "text-danger" })
    @Html.ValidationMessage("Stock_e", new { @class = "text-danger" })
</form>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
